.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #19b9e7;
  justify-content: center;
}

.login__container {
  width: 397px;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}

.login__container > p {
  margin-top: 20px;
  font-size: 1.25rem;
  color: #222;
  text-transform: capitalize;
}

.login__container > .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 20px;
}

.login__container > .input > input {
  padding: 0.75rem;
  outline: none;
  width: 80%;
}

.login__container > .input > input[type="text"] {
  margin-bottom: 30px;
}

.login__container > button {
  width: 80%;
  color: #fff;
  background-color: #ee4d2d;
  outline: none;
  height: 2.5rem;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
}

.login__container > button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.registers {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;
}
.registers > a {
  width: 80%;
  color: #fff;
  background-color: green;
  margin-bottom: 20px;
  padding: 0.5rem;
  border-radius: 2px;
  text-decoration: none;
  opacity: 0.8;
}

.registers:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .login__container {
    width: 360px;
  }
}


@media only screen and (max-width: 320px) {
    .login__container {
      width: 310px;
    }
  }
  